.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15rem;
  margin: 20px;
  justify-content: center;
  align-items: start;
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
}
