.movie-card {
  background-color: rgb(235, 235, 235);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.movie-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.movie-details {
  font-size: 16px;
}

.movie-details span {
  font-weight: bold;
