.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #161b22;
  color: #fff;
  padding: 15px 30px;
  width: fit-content;
  border-radius: 12px;
}

nav {
  margin-bottom: 30px;
}
