* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #182549;
  background: linear-gradient(135deg, #182549, #915b9a);
  background-repeat: no-repeat;
  height: fit-content;
  color: rgb(226, 226, 226);
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  position: relative;
  height: 100vh;
  text-align: center;
}

.container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.enter {
  cursor: pointer;
}

/* ///////////////////////////////////////////////////// */

.header_container {
  text-align: center;
  height: 20%;
}

/* ///////////////////////////////////////////////////// */

.text_container {
  line-height: 22px;
}

.diff_font {
  font-family: Georgia;
}

.diff_size {
  font-size: 12px;
}

.diff_color {
  color: red;
}

.welcome {
  cursor: pointer;
}

.welcome_container {
  text-align: center;
}

.top,
.next {
  cursor: pointer;
  font-weight: 600;
  margin: 0 30px;
}

.next {
  text-align: end;
}

/* //////////////////////////////////////////////// */

.map_container {
  margin: 80px 0;
  text-align: center;
}

.map {
  margin-bottom: 60px;
  display: block;
}

/* //////////////////////////////////////////////// */

fieldset {
  border-radius: 8px;
  border: 2px solid white;
  padding: 32px;
}

legend {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

form {
  width: 600px;
  margin: 80px auto;
}

#login-form {
  height: 80vh !important;
}

label {
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
}

input {
  outline: none;
  width: 220px;
  height: 36px;
  padding: 8px;
  border-radius: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  width: 14px;
  height: 16px;
  margin: 0 8px;
  padding: 0;
  vertical-align: middle;
  position: relative;
  top: -1.5px;
}

form p {
  display: inline;
}

select {
  outline: none;
  padding: 4px;
  border-radius: 8px;
}

textarea {
  border-radius: 8px;
  outline: none;
  padding: 8px;
}

.submit-container {
  text-align: center;
  margin-top: 18px;
}

button {
  height: 48px;
  width: 140px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  padding: 4px;
  margin-bottom: 18px;
  cursor: pointer;
}
