<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="allStudents.length === 0">
      <tr>
        <td colspan="2">
          <h3 style="text-align: center; margin: 24px">
            No students added yet, Please use the form
          </h3>
        </td>
      </tr>
    </ng-container>

    <tr *ngFor="let student of allStudents">
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
    </tr>
  </tbody>
</table>
