body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 100vh;
  overflow-y: hidden;
  font-family: cursive, sans-serif;
}

.container {
  width: 500px;
  margin-top: -10rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 48px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-family: cursive, sans-serif;
  width: 100%;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #7500d1;
  color: #fff;
  font-size: 18px;
  font-family: cursive, sans-serif;
  cursor: pointer;
  width: 60%;
  margin: auto;
}

button:hover {
  background-color: #420075;
}
